:root {
  --color-green: #159957;
  --color-blue: #155799;
  --color-darkblue: #022f40;
  --color-black: #051920;
  --color-grey: #2b4f5c;
  --color-white: #ccdbdc;
  --color-turquoise: #9ad1d4;

  --color-primary: var(--color-green);
  --color-secondary: var(--color-blue);
  --color-fg: var(--color-white);
  --color-bg: var(--color-darkblue);

  --gradient-main: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );

  --border-radius-default: 0.5rem;
  --border-width-default: 0.1rem;
  --border-color-default: var(--color-fg);
  --border-default: solid var(--border-width-default)
    var(--border-color-default);

  --animation-timing-duration-default: 0.25s;
  --animation-timing-function-default: ease-in-out;
  --animation-timing-default: var(--animation-timing-duration-default)
    var(--animation-timing-function-default);

  --font-family: "Circular Std Book", "Circular", "Arial", "sans-serif";
}

body {
  background-color: var(--color-bg);
}
