button,
a.button {
  font-family: var(--font-family);
  background: var(--gradient-main);
  border: var(--border-default);
  color: var(--color-fg);
  padding: 0.5rem;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  overflow: visible;
  z-index: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button:disabled {
  background: #5b5b5c;
  cursor: not-allowed;
}
button:disabled::before {
  display: none;
}

button::before,
a.button::before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  content: "";
  border-radius: var(--border-radius-default);
  z-index: -1;
  filter: blur(8px);
  transform: scale(0.7);
  transition: transform var(--animation-timing-default);
}

button:hover::before,
a.button:hover::before {
  transform: scale(1.1);
}

button.round {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.spinning svg {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-timing-function: var(--animation-timing-function-default);
  animation-iteration-count: infinite;
}

button:focus,
a.button:focus {
  outline: none;
  box-shadow: 0 0 0px 0.1rem #ff0;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin: 0 -0.5rem;
}
.button-container button,
.button-container a.button {
  margin: 0.5rem;
}
