.app {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(45deg, var(--color-black), var(--color-grey));
  align-items: stretch;
}

.page-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.background-image {
  z-index: 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  filter: blur(20px);
  opacity: 0.3;
  transform: scale(1.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.page-container *:not(.background-image) {
  z-index: 1;
}

.page-container.hidden {
  opacity: 0;
}

.album-art {
  width: 12rem;
  height: 12rem;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}
.album-art::before,
.album-art::after {
  border: 0.2rem solid var(--color-fg);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  content: "";
  background: inherit;
}
.album-art::before {
  z-index: -1;
  filter: blur(18px);
}
